html {
    background: #000000;
}

body {
    overflow: hidden;
}

#header .character {
    font-size: 64px;
    display: inline-block;
    font-weight: bold;
    color: orange;
    -webkit-text-stroke: 2px #A72828;
    transition: 
        color 1s ease-out,
        font-size 3s ease-out;
}

#header .character.hide:not(.space) {
    color: rgba(0, 0, 0, 0.0); 
    -webkit-text-stroke: 2px #A72828;
}

.slideshow {
    z-index: -1;
    border: 5px solid #ffffff;
}

.hidden {
    opacity: 0;
}

#header.large .character {
    font-size: 142px;
    -webkit-text-stroke: 2px #A72828;

}

.fire {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 80px/normal;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 0 0 20px rgb(254,252,201) , 10px -10px 30px rgb(254,236,133) , -20px -20px 40px rgb(255,174,52) , 20px -40px 50px rgb(236,118,12) , -20px -60px 60px rgb(205,70,6) , 0 -80px 70px rgb(151,55,22) , 10px -90px 80px rgb(69,27,14) ;
}
#header .character.space {
    width: 20px;
}

#header {
    display: block;
    text-align: center;
    transition: all 3s ease-out;
}

#body {}

#body .abbv {
    position: absolute;
    text-align: center; 
    -webkit-text-stroke: 2px white;
    transition: 
        top 1s,
        opacity 1s
}

#body .abbv.shown {
    text-align: center;
    margin-top: 0px;
}

#body .abbv .letter {
    display: block;
    font-size: 250px;
    font-weight:bold;
    -webkit-text-stroke: 2px white;
    line-height: 140px;
}

#body .abbv .label {
    -webkit-text-stroke: 2px white;
    font-size: 65px;
    font-weight: bold;
}

#footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 44px;
    color: #A72828;
    text-shadow: 2px 2px #000000;
}

.space {
    content: ' '
}
